.container {
    text-align: center;
    margin-top: 40px;
    padding: 10px 20px 20px 10px;
    margin-left: 30px;
    margin-right: 30px;
  }
  
  .container h1 {
    font-size: 36px;
    color: #333;
  }
  
  .container h2 {
    font-size: 24px;
    color: #666;
    margin-top: 20px;
  }

  .container h5 {
    color: rgb(17, 17, 17)
  }

  .container h5:hover {
    color: #ff5733
  }
  
  .container p {
    font-size: 16px;
    color: #777;
    text-align: justify;
  }
  
  .container a {
    display: block;
    margin-top: 20px;
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
    font-size: 18px;
  }
  
  .container a:hover {
    color: #0056b3;
  }
  
  .content {
    width: 45%;
    text-align: justify;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 10%;
}

.content:hover {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    background-color: rgb(248, 248, 248);

}

#left {
    order: 1;
}

#right {
    float: right;
}

.foot {
  background-color: #616161;
  padding: 20px;
  text-align: center;
}

.foot h2 {
  font-size: 24px;
  color: #ffffff;
}

.foot p {
  font-size: 16px;
  color: #eeeeee;
  text-align: justify;
  margin: 10px 0;
}

.foot a {
  text-decoration: none; /* Remove underlines from links */
  color: #eeeeee; /* Set the default text color for links */
  transition: color 0.3s; /* Add a smooth color transition on hover */
}

.foot a:hover {
  color: #ff5733; /* Change the text color on hover */
}