{% extends 'base.html' %}

{% block head %}
<title>About Us</title>

<style>
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* * {
    padding: 0;
    margin: 0;
} */

body {
    background-color: #fdfdfd;
    font-family: "Poppins", sans-serif;
}

.container {
    margin: 20px 40px;
    color: #030303;
}

.heading {
    font-size: 60px;
    color: rgb(0, 0, 0);
}

.profiles {
    display: flex;
    justify-content: space-around;
    margin: 20px 80px;
}

.profile {
    flex-basis: 260px;
}

.profile .profile-img {
    height: 260px;
    width: 260px;
    border-radius: 50%;
    filter: grayscale(100%);
    cursor: pointer;
    transition: 400ms;
}

.profile:hover .profile-img {
    filter: grayscale(0%);
}

.user-name {
    margin-top: 30px;
    font-size: 35px;
}

.profile h5 {
    font-size: 18px;
    font-weight: 100;
    letter-spacing: 3px;
    color: #3f3d3d;
}

.profile p {
    font-size: 16px;
    margin-top: 20px;
    text-align: justify;
}

@media only screen and (max-width: 1150px) {
    .profiles {
        flex-direction: column;        
    }
    .profile {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .profile p {
        text-align: center;
        margin: 20px 60px 80px 60px;
        font-size: 20px;
    }
}

@media only screen and (max-width: 900px) {
    .heading {
        font-size: 40px;
        color: rgb(255, 255, 255);
        text-align: center;
    }
    .profiles {
        margin: 20px 0;
    }
    .profile p {
        margin: 20px 10px 80px 10px;
    }
}

</style>

{% endblock %}

{% block body %}

<div class="container">
    <h1 class="heading">Our Team</h1>
    <div class="profiles">
        <div class="profile">
            <img src="{{ url_for('static', filename='images/Kartikeya_Srivastava.jpeg') }}" alt="Kartikeya_Srivastava" class="profile-img">
            <h3 class="user-name">Kartikeya Srivastava</h3>
            <h5>B.tech Computer Science (Cybersecurity)</h5>
            <p>Background in offensive security, ethical hacking, and cybersecurity. Aims to bridge the gap between security and application development seamlessly. Passionate about safeguarding digital assets while delivering robust and secure solutions.</p>
        </div>
        <div class="profile">
            <img src="{{ url_for('static', filename='images/Arjun_Seal.jpeg') }}" alt="Arjun_Seal" class="profile-img">
            <h3 class="user-name">Arjun Seal</h3>
            <h5>B.tech Computer Science (Cybersecurity)</h5>
            <p>A student of Bachelors in Computer Science specialising in Cybersecurity. Fairly proficient in web application security
                and testing as well as digital forensics. Interested in IoT and Smart Cities Security and would like to delve deeper into
                that domain.</p>
        </div>
        <div class="profile">
            <img src="{{ url_for('static', filename='images/Dhruv_Mody.jpeg') }}" alt="Dhruv_Mody" class="profile-img">
            <h3 class="user-name">Dhruv Mody</h3>
            <h5>B.tech Computer Science (Cybersecurity)</h5>
            <p>Currently pursuing a Bachelors in Computer Science with a specialization in Cybersecurity. Proficient in Vulnerability Analysis and Penetration Testing in Web Applications, Mobile Applications, Networks and APIs. Keen interest in the dark web and employing red teaming methodologies to enhance security measures. I am dedicated to staying ahead of evolving cyber threats and contributing to cybersecurity best practices.</p>
        </div>
    </div>
</div>

{% endblock %}