<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    {% block head %}{% endblock %}
</head>

<style>
    body {
        background-image: url("{{ url_for('static', filename='images/background.jpg') }}");
        background-size: cover; /* Adjust as needed */
        background-repeat: no-repeat; /* Adjust as needed */
        background-attachment: fixed; /* Optional: Fixed background */
    }
</style>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Dashboard</a></li>
                <li><a href="/VA">Vulnerability Assessment</a></li>
                <li><a href="/Defacement">Defacement Detection</a></li>
                <li><a href="/sslscan">SSL/TLS Scanner</a></li>
                <li><a href="/login">Login/Register</a></li>
                <li><a href="/about-us">About Us</a></li>
            </ul>
        </nav>
    </header>
    {% block body %}{% endblock %}
</body>
</html>