{% extends 'base.html' %}

{% block head %}
<title>VADD System</title>
{% endblock %}

{% block body %}

<div class="content">
    <main>
        <section id="vulnerability-assessment">
            <!-- Content for Vulnerability Assessment Page -->
        </section>
        <section id="static-defacement-detection">
            <!-- Content for Static Defacement Detection Page -->
        </section>
        <section id="dynamic-defacement-detection">
            <!-- Content for Dynamic Defacement Detection Page -->
        </section>
        <section id="ssl-tls-scanner">
            <!-- Content for SSL/TLS Scanner Page -->
        </section>
        <section id="about-us">
            <h2>About Us</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed id libero odio. Nullam sit amet scelerisque justo. Proin vel ex nec mi vulputate mattis. Donec lacinia metus ac turpis euismod, in eleifend urna tincidunt.</p>
        </section>
    </main>
</div>

{% endblock %}