{% extends 'base.html' %}

{% block head %}
<title>VADD System - Defacement Detection</title>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock %}

{% block body %}
<div class="content">
    <h2 style="text-align: center;">Defacement Detection</h2>

    <!-- Input Form for URL and Scan Options -->
    <form id="scan-form" action="{{ url_for('Defacement') }}" method="POST">
        <label for="url">URL:</label>
        <input type="text" id="url" name="url" placeholder="Enter URL e.g. https://google.com/" required>
        
        <label for="security-level">Security Level:</label>
        <select id="security-level" name="security-level">
            <option value="high">High</option>
            <option value="medium">Medium</option>
            <option value="low">Low</option>
        </select>
        
        <label for="enable-alerts">Enable Alerts:</label>
        <input type="checkbox" id="enable-alerts" name="enable-alerts">
        
        <input type="hidden" name="stop-button-clicked" id="stop-button-clicked" value="false">
        <button type="submit" id="start-scan-button" name="start">Start Scan</button>
        <button type="button" id="stop-scan-button" name="stop">Stop Scan</button>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="flash-messages">
                <div class="flash-message alert alert-danger">
                    {{ messages[-1][1] }}
                </div>
            </div>
        {% endif %}
    {% endwith %}

        <script>
            $('#start-scan-button').click(function() {
                var url = $('#url').val();
                var securityLevel = $('#security-level').val();
                var enableAlerts = $('#enable-alerts').is(':checked');
                var sleepTime = getSleepTime(securityLevel);
                socket.emit('start_scan', {'url': url, 'sleep_time': sleepTime, 'enable_alerts': enableAlerts});
            });
        </script>

    </form> 

    <div id="output-screen" style="overflow-y: auto; height: 500px;">
        <div class="output-box">
            <h3>Scan Output</h3>
            <textarea id="scan-output" readonly></textarea>
        </div>
        <!-- Output from the scan will be displayed here -->
        {% if scan_debug %}
            <h3>Debug:</h3>
            <p>{{ scan_debug }}</p>
        {% endif %}
        {% if scan_history %}
            <h3>Scan History:</h3>
            <ul id="scan-history-list">
                {% for scan_result in scan_history %}
                    <li>
                        [{{ scan_result.scan_date.strftime('%H:%M:%S %d/%m/%y') }}]<br>
                        URL: {{ scan_result.url }}<br>
                        {% if "defaced" in scan_result.scan_output %}
                            <span style="color: red;">{{ scan_result.scan_output }}</span>
                            {% elif "Error" in scan_result.scan_output or "error" in scan_result.scan_output %}
                            <span style="color: red;">{{ scan_result.scan_output }}</span>
                            {% elif "retrieve" in scan_result.scan_output %}
                            <span style="color: red;">{{ scan_result.scan_output }}</span>
                        {% else %}
                            <span style="color: green;">{{ scan_result.scan_output }}</span>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</div>

<script>
    document.getElementById("stop-scan-button").addEventListener("click", function() {
        window.stop();
        location.reload();
    });
    // Function to scroll the output screen to the bottom
    function scrollToBottom() {
        var outputScreen = document.getElementById('output-screen');
        outputScreen.scrollTop = outputScreen.scrollHeight;
    }

    // Call scrollToBottom() function on page load
    window.onload = function() {
        scrollToBottom();
    };

    // Call scrollToBottom() function when new content is added
    function addNewContent() {
        scrollToBottom();
    }
</script>
{% endblock %}
