{% extends 'base.html' %}

{% block head %}
<title>VADD System - Register</title>
<link rel="stylesheet" href="{{url_for('static', filename='css/register.css')}}">
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
{% endblock %}

{% block body %}
<div class="container">
<div class="wrapper">
    <form action="", method = "POST">
        {{ form.hidden_tag() }}
        <h1>Register</h1>
        <div class="input-box">
            {{ form.email(placeholder="Email") }}
            <i class='bx bxs-envelope'></i>
        </div>
        <div class="input-box">
            {{ form.username(placeholder="Username") }}
            <i class='bx bxs-user'></i>
        </div>
        <div class="input-box">
            {{ form.password(placeholder="Password") }}
            <i class='bx bxs-lock-alt' ></i>
        </div>

        <div class="input-box">
            {{ form.password2(placeholder="Confirm Password") }}
            <i class='bx bxs-lock-alt' ></i>
        </div>

        {{ form.submit(class="btn") }}

        <div class="register-link">
            <p>Have an account? <a href="{{ url_for('login') }}">Login</a></p>
        </div>
    </form>
</div>
</div>

{% endblock %}